<div class="p-10">
  <div>
    <div class="bg-blue-500 flex" >
      <div class="w-2/3">
        <img  src="https://file.xunruicms.com/admin_html/assets/pages/media/profile/profile_user.jpg" alt="user" width="400">
      </div>
      <div>
        <h1>user name</h1>
        <h1>last name</h1>
        <p>To use the default loader: no additional code changes are necessary. The URL returned by the generic loader will always match the value of "src". In other words, this loader applies no transformations to the resource URL and the value of the ngSrc attribute will be used as is.</p>
      </div>
    </div>

  </div>
</div>
