<div class="p-10 flex flex-col gap-5 border-l border-light-pink border-t rounded-tl-xl">
  <header class="border-light-pink pb-5 mb-5 border-b-[1px]">
    <h1 class="font-bold text-white tracking-widest text-md md:text-4xl">Users List</h1>
  </header>
  <main class="grid grid-cols-1 md:grid-cols-2 gap-20 lg:grid-cols-3 mx-auto" *ngIf="users.length; else elseBlock">
    <app-user-item *ngFor="let user of users" [userData]="user" [navigateTrue]="true"></app-user-item>
  </main>
  <app-error-message *ngIf="!loading && !users.length" [message]="errorMessage"></app-error-message>
  <app-loading-item *ngIf="loading"></app-loading-item>
</div>

