<div class="p-5 sm:p-10 text-white flex flex-col gap-10 border-l border-light-pink border-t rounded-tl-xl">
  <header class="flex justify-between items-start sm:items-center gap-10 flex-col md:flex-row">
    <app-button-navigate (click)="navigate()" *ngIf="!loading" ></app-button-navigate>
    <h1 *ngIf="user" class="text-3xl">{{user.firstName}}'s Profile</h1>
  </header>
  <main *ngIf="user && !loading">
    <div class="pb-5 sm:p-10 border-b border-r border-light-pink rounded-br-xl" >
      <div class="flex gap-10 flex-col items-center md:flex-row ">
        <div>
          <img [src]="user.profilePic"  alt="user" class="max-w-full sm:max-w-[25rem] ">
        </div>
        <div class="md:w-2/3 flex flex-col gap-5 tracking-wide text-md text-left md:text-xl">
          <h1><span class="font-bold">Name: </span>{{user.firstName}}</h1>
          <h1><span class="font-bold">Last Name: </span>{{user.lastName}}</h1>
          <p><span class="font-bold">Description: </span>{{user.description}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="friends.length" class="flex flex-col items-center">
      <header class="border-b-2 border-white mb-5">
        <h1 class="text-4xl pl-10 p-5 text-white font-bold">Friends</h1>
      </header>
      <div class="grid grid-cols-1 gap-20 lg:grid-cols-2 mx-auto">
        <app-user-item *ngFor="let data of friends" [userData]="data" [navigateTrue]="false"></app-user-item>
      </div>
    </div>
    <app-error-message *ngIf="!loading && !friends.length" [message]="friendsNotFoundMessage"></app-error-message>
  </main>
  <app-error-message *ngIf="!user && !loading" [message]="userNotFoundMessage" ></app-error-message>
  <app-loading-item *ngIf="loading"></app-loading-item>
</div>
